@import "tailwindcss";

.nunito {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 426;
    font-style: normal;
  }


 

ol li {
  @apply pt-1 text-lg list-disc list-inside

}

.no-bullet {
  @apply list-none
}

.list-number {
  @apply list-disc

}

